<h1>Admin::Dashboard</h1>
<div class = "jumbotron" style="background-color:#CFD8DC;">
<p> <h3>Number of Categories:  <%= @num_categories %></h3></p>
<br>
<p><h3>Number of Products:  <%= @num_products %></h3></p>
</div>
