<div class="jumbotron" style="background-color:papayawhip;border: 2px solid grey;">
<h1>About Jungle</h1>
<p>Welcome to Jungle.com, your number one source for all things Clothes, Electronics and Furniture. We're dedicated to giving you the very best of products, with a focus on three characteristics: dependability, customer service and uniqueness. You can also shop here for various types of products with fast local delivery. </p>
</div>
