// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.category{
  border: 2px sloid grey;
  border-radius: 15%;
  background-color: rgb(243, 239, 239);
  padding: 10px;
  color: black;
}
